@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
:host {
  display: block;
}

* {
  padding: 0;
  margin: 0;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #547de2;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #2c3594;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.submit-button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #547de2;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
}
.submit-button:hover:enabled {
  background: #3968df;
}

.submit-button:disabled {
  background: grey;
  cursor: default;
  color: #f3f3f3e8;
}

.error-message {
  color: rgba(252, 86, 86, 0.887);
  padding: 24px;
  margin: 0 24px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3968df; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
